<ol class="post-list">
  {{#each posts as |post|}}
    <li>
    <article class="post">
      <div class="title">
        <h2>{{post.title}}</h2>
        <h2>Posted by {{post.user.username}}, {{post.created_at}}</h2>
      </div>
      <div class="meta">
          <p>{{post.post_content}}</p>
      </div>
    </article>
  </li>
  {{/each}}
</ol>
<a href="/new-post">New Post</a>