<form class="new-post">
    <div>
      <textarea name="post-title"></textarea>
    </div>
    <div>
      <textarea name="post-body"></textarea>
    </div>

    <div>
      <button type="submit">Post</button>
    </div>
</form>

 <script src="/javascript/post.js"></script>